<?xml version="1.0"?>
<config>
    <tabs>
        <mycooltab1 translate="label" module="reea_exacc">
            <label>REEA Exacc Config </label>
            <sort_order>10</sort_order>
        </mycooltab1>
        <mysecondtab translate="label" module="reea_exacc">
            <label>REEA Custom Second Tab </label>
            <sort_order>11</sort_order>
        </mysecondtab>
    </tabs>
    <sections>
        <firstconfiguration translate="label" module="reea_exacc">
            <class>separator-top</class>
            <label>First Configuration</label>
            <tab>mycooltab1</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <first_config_group translate="label">
                    <label>First Configuration</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <Label1Field translate="label">
                            <label>Label1 Field Name:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Field comment here.</comment>
                        </Label1Field>
                        <Label2Field translate="label">
                            <label>Label2 Field Name:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Field comment here.</comment>
                        </Label2Field>
                        <Label3Field translate="label">
                            <label>Label3 Field Name:</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Field comment here. (password frontend type here)</comment>
                        </Label3Field>
                    </fields>
                </first_config_group>
            </groups>
        </firstconfiguration>
        
        <secondconfigurationsection translate="label" module="reea_exacc">
            <class>separator-top</class>
            <label>Second Configuration Section</label>
            <tab>mycooltab1</tab>
            <sort_order>11</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <defaultgroup translate="label">
                    <expanded>1</expanded>
                    <label>FirstGroup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <label1field translate="label">
                            <label>Boolean Label1 Field Name:</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>somecooldashmodel2/CustomSelectionBooleanOptions</backend_model>
                            <source_model>somecooldashmodel2/CustomSelectionBooleanOptions</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>null comment</comment>
                        </label1field>
                        <label2field translate="label">
                            <label>Label2 Field Name:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>null comment</comment>
                            <show_in_website>1</show_in_website>
                        </label2field>
                        <label3field translate="label">
                            <label>Boolean Label3 Field Name:</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>somecooldashmodel2/CustomSelectionBooleanOptions</backend_model>
                            <source_model>somecooldashmodel2/CustomSelectionBooleanOptions</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>null comment</comment>
                        </label3field>
                        
                    </fields>
                </defaultgroup>
                <secondgroup translate="label">
                    <expanded>1</expanded>
                    <label>Second Group</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <label1field translate="label">
                            <label>Field1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here. </comment>
                        </label1field> 
                        <label2field translate="label">
                            <label>Field2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here. </comment>
                        </label2field>
                        <label3field translate="label">
                            <label>Field3</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here. </comment>
                        </label3field>
                    </fields>
                </secondgroup>
            </groups>
        </secondconfigurationsection>
        
         <ThirdConfiguratonSection translate="label" module="reea_exacc">
            <class>separator-top</class>
            <label>ThirdConfiguration</label>
            <tab>mycooltab1</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <FirstGroupFourthConfig translate="label">
                    <expanded>1</expanded>
                    <label>ThirdConfiguratonSection</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                         <field1 translate="label">
                            <label>Labelforfield1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here1:</comment>
                        </field1>
                        <field2 translate="label">
                            <label>Labelforfield2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here2:</comment>
                        </field2>
                        <field3 translate="label">
                            <label>Labelforfield3</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here3:</comment>
                        </field3>
                        <field4 translate="label">
                            <label>Labelforfield4</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comment Here4:</comment>
                        </field4>
                    </fields>
                </FirstGroupFourthConfig>     
            </groups>
        </ThirdConfiguratonSection> 
    </sections>
    
</config>
